body {
  background-color: bisque;
  padding: 20px;
  margin: 6px;
}

header {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

footer {
  display: flex;
  text-align: start;
  position: fixed;
  bottom: 0;
}

.jumbotron {
  text-align: center;
}

.display-4 {
  text-align: center;
  font-weight: 600;
}

.card-body {
  background-color: rgb(128, 125, 125);
  text-align: center;
  font-weight: 600;
  padding: 10px;
}

#developers {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#html-icon {
  background-color: rgb(128, 125, 125);
  width: auto;
  height: auto;
  padding: 10px;
}

#dev-title {
  font-weight: 600;
  font-size: 30px;
}

#deletedDev-title {
  font-weight: 600;
  font-size: 30px;
  padding: 10px;
}

#deletedDevs {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
#no-sign {
  background-color: rgb(128, 125, 125);
  padding: 10px;
}

#zero-devs {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  padding: 5px;
}

/* REPO STYLING HERE */

#repoForm {
  display: inline-flex;
  flex-direction:column; 
  width: 75%; 
  border-style:inset; 
  border-color:rgb(52, 124, 207); 
  background-color: #7fa66f;
  padding: 15px;
}

#name {
  display: block;
  justify-content: center;
  width: 50%;
}

#desc {
  display: block;
  justify-content: center;
  width: 75%;
}

  #profile {
  padding: 10px;
}
